@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double+Ink:wght@100..900&display=swap');

:root{
    --cor-de-fundo: #000000;
     --cor-de-texto-principal: #ffffff00;
     --cor-de-texto-secundario: #ff0011;
     --botao-ativo: #237227;
     --botao-inativo: #1C0770;
}

body{
    background: var(--cor-de-fundo);
    color: var(--cor-texto-principal);
    font-family: "Bitcount Grid Double Ink", system-ui;
}

.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.titulo-principal{
    text-align: left;
    width: 100%;
    font-size: 32px;
}
.titulo-principal span{
    color: rgb(81, 0, 255);
}
.botao{
    background-color: var(--botao-inativo);
    display: flex;
    justify-content: center;
    padding: 18px;
    font-size: 18px;
    align-items: center;
    width: 100%;
    border-bottom: 4px solid var(--botao-ativo);
    border-bottom: 2px solid var(--botao-ativo);
    border-bottom: 2px solid var(--botao-ativo);
}

.botao:first-child{
    border-radius: 40px 40px 0 0;
}