@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double+Ink:wght@100..900&display=swap');

:root{
    --cor-de-fundo: #ffffff;
     --cor-de-texto-principal: #ffffff00;
     --cor-de-texto-secundario: #ff0011;
     --botao-ativo: #ffffff;
     --botao-inativo: #8fdbe7;
}

body{
    background: var(--cor-de-fundo);
    color: var(--cor-texto-principal);
font-family: "Arial, Helvetica, sans-serif", system-ui;
}

.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.titulo-principal{
    text-align: left;
    width: 100%;
    font-size: 32px;
}
.titulo-principal span{
    color: rgb(81, 0, 255);
}
.botao{
    background-color: var(--botao-inativo);
    display: flex;
    justify-content: center;
    padding: 18px;
    font-size: 18px;
    align-items: center;
    width: 100%;
    border-bottom: 4px solid var(--botao-ativo);
    border-bottom: 2px solid var(--botao-ativo);
    border-bottom: 2px solid var(--botao-ativo);
}

.botao:first-child{
    border-radius: 40px 40px 0 0;
}

.botao.ativo{
    background-color: var(--botao-ativo);
    border-bottom: 4px solid red;
}

.aba-conteudo.ativo{
    display: block;
}
.aba-conteudo{
    display: none;
}

.abas-texto{
    background-color: var(--botao-inativo);
    padding: 40px;
    border-radius: 0 0 40px 40px;
}
.conteudo-titulo-principal{
    font-size: 20px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .botoes{
        display: flex;
}
    .botao:first-child{
    border-radius: 40px 0 0 0;
}
    .botao:last-child{
    border-radius: 0 40px 0 0
}
}
.contador-digito{
    display:flex;
    justify-content: center;
    flex-wrap: 100px;
}
.contador-digito{
    padding: 0 16px;
    text-align: center;
    min-width: 100px;
}
